$color-white: #fff;
$color-white-2: #f7f7f7;

$color-light-gray: #e5e5e5;
$color-light-gray-2: #e7e7e7;

$color-gray-1: #9a9a9a;
$color-gray-2: #6d6d6d;
$color-gray-3: #aaa;
$color-gray-4: #a5a5a5;
$color-gray-5: #888;

$color-black: #000;
$color-black-2: #222;

$color-green: #58b792;

$color-orange: #f5a339;

$color-red: #ff0000;

$color-blue-light-1: #5f63bd;
$color-blue-light-2: #87cef5;
$color-blue-light-3: #365374;
$color-blue-dark: #365374;

$box-shadow: 0 2.5px 20px 0 rgba(0, 0, 0, 0.15);
